@media (min-width:992px) and (max-width: 1199px) {
	.text-area {
  padding: 0 110px;
}
}
@media (min-width:768px) and (max-width: 991px) {
	.text-area {
  padding: 0 22px;
}
}
@media (min-width:320px) and (max-width: 767px) {
	.text-area {
  margin-top: 4px;
  padding: 0 0 28px;
}
}